### Printing output

##Knowlwdge Check - 1

**Answer the following questions, download the .ipynb file and submit the file.**
* Name :
* Sesion :
* CRN :
* Points: 100

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [44]:
print("Name : Angela")
print("City : New York")

Name : Angela
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [45]:
print(" FLASH FLOOD WARNING this area till 7:00 PM")

 FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [46]:
input_number = 2000
result1 = input_number/2
result2 = result1/2
result3 = result2/2
print("Input:", input_number)
print("Output is:", result1, result2, result3)

Input: 2000
Output is: 1000.0 500.0 250.0

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [47]:
x = float(input("Enter the value of x = "))
y = float(input("Enter the value of y = "))
z = float(input("Enter the value of z = "))

power_of_z = x ** z
power_of_y = x ** y
minus_y = x - y
remainder = x%z

print(f"x to the power of z: {power_of_z}")
print(f"x to the power of y: {power_of_y}")
print(f"x minus y : {minus_y}")
print(f"Remainder when x is divided by z : {remainder}")

Enter the value of x = 9
Enter the value of y = 8
Enter the value of z = 7
x to the power of z: 4782969.0
x to the power of y: 43046721.0
x minus y : 1.0
Remainder when x is divided by z : 2.0

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [48]:

quarter_value = 0.25
dime_value = 0.10
nickel_value = 0.05
cent_value= 0.01

quarters = 4
dimes = 3
nickels = 2
cents = 1

total_dollars = (quarters * quarter_value + dimes * dime_value + nickels * nickel_value + cents * cent_value)
dollars = int(total_dollars)
cents = int((total_dollars - dollars) * 100)

print(f"The total amount is ${dollars}.{cents:02} cents")

The total amount is $1.41 cents

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [49]:
input_string = "Python"
character_o = input_string[4]
print(character_o)

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [50]:
input_string = "Python"
result = input_string[2:5]
print(result)

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [51]:
input_string = "Python Class"
result = input_string[7:12]
print(result)

Class

9 - Find the length of the String  **Welcome to Pace University**

In [52]:
input_string = "Welcome to Pace University"
length = len(input_string)
print(f"The length of the string is : {length} ")

The length of the string is : 26

10 - Split the String  **Welcome to Pace University**  into words

In [53]:
input_string = "Welcome to Pace University"
words = input_string.split()
print(words)

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [54]:
from os import replace
input_string = "Artificial intelligence"
output_string = input_string.replace('i', 'o')
print(output_string)

Artofocoal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [55]:
text = "DATA Science"
lowercased_text = text.lower()
print(lowercased_text)

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [56]:
text = "DATA Science"
uppercased_text = text.upper()
print(uppercased_text)

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [57]:
text = "ARTIFICIAL INTELLIGENCE"
reversed_text = text[::-1]
print(reversed_text)

ECNEGILLETNI LAICIFITRA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [58]:
a = 150
b = 225
if a ==b:
  print("a is equal to b")
elif a > b:
  print("a is greater than b")
elif a >= b:
  print("a is greater than or equal to b")
elif a < b:
  print("a is less than b")
elif a <= b:
  print("a is less than or equal to b")
else:
  print("a is not equal to b")

a is less than b

###Lists

16 - Create a **list** of **lists** of integers elements

In [59]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

17 - Create a **list** of **lists** of Text elements

In [60]:
list_of_lists = [
    ["Newyork city","Jersey City","Washington DC"],
    ["NY","NJ","VIRGINIA"],

]
print(list_of_lists[0])
print(list_of_lists[1])

['Newyork city', 'Jersey City', 'Washington DC']
['NY', 'NJ', 'VIRGINIA']