##Knowlegde Check - 2
Total Point : 50

5 Points for each answer  = 45


5 points for optimized code, use of lamda, map, etc  = 5

**Answer the following questions, download the .ipynb file and submit the file.**

    * Name : KANDIKATTU VENKATA SAI ROHITH
    * Sesion :6:00 PM - 9:00Pm
    * CRN : 72541

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [8]:
def smallest_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
      return min(a,b)
    else:
        return max(a,b)
result1 = smallest_of_two_evens(2,4)
result2 = smallest_of_two_evens(2,5)
print(result1)
print(result2)

2
5

In [9]:
# Check1
result1 = smallest_of_two_evens(2,4)

In [10]:
# Check2
result2 = smallest_of_two_evens(2,5)

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [13]:
def animal_crackers(word1,word2):
    return word1[0].lower() == word2[0].lower()
result1 = animal_crackers('Lion', 'Lady')
result2 = animal_crackers('Crazy', 'Drink')
print(result1)
print(result2)

True
False

In [14]:
# Check1
result1 = animal_crackers('Lion', 'Lady')

In [15]:
# Check2
result2 = animal_crackers('Crazy', 'Drink')

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [18]:
def sum_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or (n1 + n2) == 20
result1 = sum_twenty(20,10)
result2 = sum_twenty(12,8)
result3 = sum_twenty(2, 3)
print(result1)
print(result2)
print(result3)

True
True
False

In [19]:
# Check1
result1 = sum_twenty(20,10)

In [20]:
# Check2
result3 = sum_twenty(2,3)

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [21]:
def cap_first_four(name):
  if len(name) >= 4:
    result = name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:]
    return result
  else:
        return name
result = cap_first_four('macdonald')
print(result)

MacDonald

In [22]:
# Check
result = cap_first_four('macdonald')

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [59]:
def rev_words(text):
    words = text.split()
    reversed_words = words[::-1]
    reversed_text = " ".join(reversed_words)
    return reversed_text
result1 = rev_words('I am home')
result2 = rev_words('We are ready')

print(result1)
print(result2)

home am I
ready are We

In [60]:
# Check1
result1 = rev_words('I am home')

In [ ]:
# Check2
result2 = rev_words('We are ready')

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [28]:
def nearest_num(n):
    diff_to_100 = abs(n - 100)
    diff_to_200 = abs(n - 200)
    return diff_to_100 <= 10 or diff_to_100 <= 10
result1 = nearest_num(90)
result2 = nearest_num(104)
result3 = nearest_num(150)
result4 = nearest_num(209)

print(result1)
print(result2)
print(result3)
print(result4)

True
True
False
False

In [31]:
# Check1
result2 = nearest_num(104)

In [30]:
# Check2
result3 = nearest_num(150)

In [29]:
# Check3
result4 = nearest_num(209)

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [34]:
def contains_two_same_values(nums):
    for i in range(len(nums) - 1):
      if nums[i] == nums[i + 1]:
        return True
    return False

result1 = contains_two_same_values([1, 3, 3])
result2 = contains_two_same_values([1, 3, 1, 3])
result3 = contains_two_same_values([3, 1, 3])

print(result1)
print(result2)
print(result3)

True
False
False

In [35]:
# Check1
result1 = contains_two_same_values([1, 3, 3])

In [37]:
# Check2
result2 = contains_two_same_values([1, 3, 1, 3])

In [36]:
# Check3
contains_two_same_values([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [39]:
def repeat_three(text):
  result = " "
  for char in text:
    result += char * 3
    return result
result1 = repeat_three('Hello')
result2 = repeat_three('Mississippi')

print(result1)
print(result2)

 HHH
 MMM

In [40]:
# Check1
repeat_three('Hello')

' HHH'

In [41]:
# Check2
repeat_three('Mississippi')

' MMM'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [49]:

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def count_primes(num):
    count = 0
    for num in range(2, num + 1):
        if is_prime(num):
            count += 1
    return count

# Test case
result = count_primes(100)  # Should return 25
print(result)

25

In [50]:
# Check1
result = count_primes(100)