##Assignment - 2

**Answer the following questions, download the .ipynb file and submit the file.**
* Name : KANDIKATTU VENKATA SAI ROHITH
* Sesion : 6PM - 9PM
* CRN : 72541

##Question 1
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [4]:
#Code here
st = 'Print only the words that start with s in this sentence'
words = st.split()
for word in words:
  if word[0].lower() == 's':
    print(word)

start
s
sentence

##Question 2
**Use range() to print all the even numbers from 0 to 10.**

In [5]:
#Code Here
for number in range(0, 11, 2):  # Start at 0, end at 10 (exclusive), step by 2
    print(number)

0
2
4
6
8
10

Question 3
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [6]:
#Code in this cell
divisible_by_3 = [number for number in range(1, 51) if number % 3 == 0]

## Question 4
**Check the length of each word in the string and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [7]:
#Code in this cell
my_string = 'Check the length of each word in the string and if the length of a word is even print "even!"'

# Split the string into words
words = my_string.split()

# Iterate through the words and check the length
for word in words:
    if len(word) % 2 == 0:
        print(f'The word "{word}" has an even length!')

The word "length" has an even length!
The word "of" has an even length!
The word "each" has an even length!
The word "word" has an even length!
The word "in" has an even length!
The word "string" has an even length!
The word "if" has an even length!
The word "length" has an even length!
The word "of" has an even length!
The word "word" has an even length!
The word "is" has an even length!
The word "even" has an even length!

##Question 5
**Write a program that prints the integers from 1 to 100. But for multiples of three print "3*" instead of the number, and for the multiples of five print "5*". For numbers which are multiples of both three and five print "3* 5*".**

In [9]:
#Code in this cell
for num in range(1, 101):
    output = ""

    if num % 3 == 0:
        output += "3*"

    if num % 5 == 0:
        output += "5*"

    if output == "":
        output = num

    print(output)

1
2
3*
4
5*
3*
7
8
3*
5*
11
3*
13
14
3*5*
16
17
3*
19
5*
3*
22
23
3*
5*
26
3*
28
29
3*5*
31
32
3*
34
5*
3*
37
38
3*
5*
41
3*
43
44
3*5*
46
47
3*
49
5*
3*
52
53
3*
5*
56
3*
58
59
3*5*
61
62
3*
64
5*
3*
67
68
3*
5*
71
3*
73
74
3*5*
76
77
3*
79
5*
3*
82
83
3*
5*
86
3*
88
89
3*5*
91
92
3*
94
5*
3*
97
98
3*
5*