##Knowlwdge Check - 2

**Answer the following questions, download the .ipynb file and submit the file.**
* Name : KANDIKATTU VENKATA SAI ROHITH
* Sesion : 6:10 P.M. - 9:00 P.M.
* CRN : 72541

### Lists

1 - Create a **list** of **lists** of integers elements

In [ ]:
list_of_lists = [
    [91,92,93],
    [101,102,103],
]

2 - Create a **list** of **lists** of Text elements

In [ ]:
list_of_lists = [
    ["Mahesh","Ileana","Pokiri"],
    ["AlluArjun","Hansika","Desamuduru"],
    ["NTR","Kajal","Temper"],
]

3 - Construct a list composed of the elements from previous list, starting at  **position 2 to 5** using **slicing**

In [ ]:

list_of_lists = [
    ["Mahesh","Ileana","Pokiri"],
    ["AlluArjun","Hansika","Desamuduru"],
    ["NTR","Kajal","Temper"],
]
new_list = []
for sublist in list_of_lists:
  new_sublist= sublist[2:5]
  new_list.append(new_sublist)

  print(new_list)

[['Pokiri']]
[['Pokiri'], ['Desamuduru']]
[['Pokiri'], ['Desamuduru'], ['Temper']]

#### More questions on List

4 - Reassign **hello** in this list to say **goodbye** instead.

In [ ]:
list1 = [1, 2, 3,'hello']
list1[3] = 'goodbye'
print(list1)

[1, 2, 3, 'goodbye']

5 - Sort the list in **asending order**.

In [ ]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

6 - Add the item **Raya** to the list after **Kung Fu Panda 2**

In [ ]:
netflix2021 = ['Kung Fu Panda 2', 'The Mitchells vs. the Machines', 'We Can Be Heroes']
netflix2021.insert(netflix2021.index('Kung Fu Panda 2') + 1,'Raya')
print(netflix2021)

['Kung Fu Panda 2', 'Raya', 'The Mitchells vs. the Machines', 'We Can Be Heroes']

7 - Concatinate two lists
      
      
      List1 = [1, 2, 3, 4]
      List2 = [5,6,7,8,9,10]'''

In [ ]:
from typing_extensions import Concatenate
list1 = [1,2,3,4]
list2 = [5,6,7,8,9,10]
Concatenated_list = list1 + list2
print(Concatenated_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

8 - Use **range** function to creat a list with 10 elements

In [ ]:
my_list= list(range(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

9 - Extract **hello** from the below list

In [ ]:
list3 = [1,2,[3,4,'hello']]
extracted_element = list3[2][2]
print(extracted_element)

hello

###Tuples

10 - What is the major difference between **tuples** and **lists**?

In [ ]:
#Tuples and lists are both used to store collections of data in python
#lists : Lists are mutable which means you can add  or remove elements after creating a list. You can also modify elements or append new elements and delete elements from an existed list
#Tuples: tuples are immutable which means once a tuple is created you can not add, remove or modify the elements in a tuple. You can only create a new tuple using modified elements.
#example : Lists are created using square brackets - my_list[1,2,3], whereas tuples use parenthesis - my_tuple(1,2,3) or my_tuple= 1, 2, 3

11 - From the given tuple get the **item at index 3**

In [ ]:
t1 = ('New York', 'Texas', 'California', 'Florida', ' New York')
item_at_index3 = t1[3]
print(item_at_index3)

Florida

12 - From the given tuple count how many times **New York** appeared

In [ ]:
t1 = ('New York', 'Texas', 'California', 'Florida', 'New York')
count_new_york= t1.count('New York')

print(count_new_york)

2

### Dictionaries

13 - Create a dictionary of Stores and their locations (boroughs)

In [ ]:
Store_locations = {
    "Store1" : "Manhattan",
    "Store2" : "Brooklyn",
    "Store3" : "Bronx",
    "Store4" : "Queens",
    "Store5" : "Staten Island"
}

#### More on Dictionaries

15 - Clear the items from following dictionary

In [ ]:
my_dict = {'Ahmad': 1, 'Jane': 42}
my_dict.clear()
print(my_dict)

{}

16 - Call values by their  **key**

In [ ]:
my_dict1 = {'id1':'Vivek','id2':'Alexa', 'id3':'John','id4':'Juan', 'id5':'Julia'}

value1 = my_dict1['id1']
value2 = my_dict1['id3']
value3 = my_dict1['id5']

print("Value for 'id1' :", value1)
print("Value for 'id2' :", value2)
print("Value for 'id3' :", value3)

Value for 'id1' : Vivek
Value for 'id2' : John
Value for 'id3' : Julia

17 - Get the value **item2** from the following dictionary

In [ ]:
my_dict2 = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
value_item2 = my_dict2['key3'][2]
print("Value of 'item2':", value_item2)

Value of 'item2': item2

18 - Call methods on values to convert into **UPPER** case

In [ ]:
my_dict1 = {'id1':'Vivek','id2':'Alexa', 'id3':'John','id4':'Juan', 'id5':'Julia'}
u = {key:value.upper() for key,value in my_dict1.items()}
print(u)

{'id1': 'VIVEK', 'id2': 'ALEXA', 'id3': 'JOHN', 'id4': 'JUAN', 'id5': 'JULIA'}

19 - Use method to return a list of all **keys**

In [ ]:
d ={'k1':1,'k2':2, 'k3':3, 'k4':4}
key_list = list(d.keys())
print(key_list)

['k1', 'k2', 'k3', 'k4']

20 -Use method to return a list of all **values**

In [ ]:
d ={'k1':1,'k2':2, 'k3':3, 'k4':4}

value_list = list(d.values())
print(value_list)

[1, 2, 3, 4]

### Branching  staements
if - elif -  else

24- Given three values a, b, c, check which value is minimum and remove that value from other values. Write an algorithm.

        Ex: If the input is:
        a = 130
        b = 50
        c = 130
        The output is:
        a = 80
        b = 0
        c = 80

In [ ]:
#Input : a, b, c
#min_value = min(a,b,c)
#a = a - min_value
#b = b - min_value
#c = c - min_value

#Output : a,b,c

25 - Giving change to customer: Total change amount as an integer input, and output the change using the fewest coins,


      If the input is: 45
      The output is:
                    1 Quarter
                    2 Dimes

      Input: 156
      The output is:
                    1 Dollar
                    2 Quarters
                    1 Nickel
                    1 Penny

In [ ]:
change_amount = int(input("Enter the total change amount as an integer: "))

denominations = [100, 25, 10, 5, 1]  # Dollar, Quarter, Dime, Nickel, Penny

coin_counts = {100: 0, 25: 0, 10: 0, 5: 0, 1: 0}

for denomination in denominations:
    count = change_amount // denomination
    if count > 0:
        coin_counts[denomination] = count
        change_amount -= count * denomination

for denomination, count in coin_counts.items():
    if count > 0:
        if denomination == 100:
            print(f"{count} Dollar{'s' if count > 1 else ''}")
        elif denomination == 25:
            print(f"{count} Quarter{'s' if count > 1 else ''}")
        elif denomination == 10:
            print(f"{count} Dime{'s' if count > 1 else ''}")
        elif denomination == 5:
            print(f"{count} Nickel{'s' if count > 1 else ''}")
        elif denomination == 1:
            print(f"{count} Penny{'s' if count > 1 else ''}")

Enter the total change amount as an integer: 52
2 Quarters
2 Pennys

26 - Write a program that takes in a year and determines whether that year is a leap year.

      Ex: If the input is:  1712
          the output is: 1712 - leap year

          Note : 1) The year must be divisible by 4
                  2) If the year is a century year (1700, 1800, etc.), the year must be evenly divisible by 400

In [ ]:
a = int(input('enter a year'))
if(a%4==0 and a%100!=0 or a%400==0):
    print("The year is a leap year!")
else:
    print("The year isn't a leap year!")

enter a year2027
The year isn't a leap year!

### Loops

27 - Write a program that takes a simple password and makes it stronger by replacing certain characters as per list below and appending "!" to the end of the input string.

        i becomes 1
        a becomes @
        m becomes M
        B becomes 8
        s becomes $
        z becomes 2
        o becomes 0
        
        If the input is: mypassword
        the output is: Myp@$$w0rd!

In [ ]:
char_map = {
    'i': '1',
    'a': '@',
    'm': 'M',
    'B': '8',
    's': '$',
    'z': '2',
    'o': '0'
}
input_password = input("Enter your password: ")


strengthened_password = ""

for char in input_password:
    if char.lower() in char_map:
        strengthened_password += char_map[char.lower()]
    else:
        strengthened_password += char

strengthened_password += "!"

print("Strengthened password:", strengthened_password)

Enter your password: 0929@Rkvs
Strengthened password: 0929@Rkv$!

28 - Write a program to get 10 multiples of anynumber given.

    Example: if Number = 5
    Output :5,10,15,20,25,30,35,40,45,50

In [ ]:
a = int(input('enter a number'))
for i in range(a, 11*a, a):
    print(i)

enter a number5
5
10
15
20
25
30
35
40
45
50