# Functions and Methods Homework - CS661 Python Programming
Assignment - 2

Total points  - 50

*5 points for optimized code*

Answer the following questions, download the .ipynb file and submit the file.

    * Name : KANDIKATTU VENKATA SAI ROHITH
    * Sesion : 6pm - 9pm
    * CRN :

## Question #1
Points : 5


One lap around a running track is exactly 0.25 miles. Write the function miles_to_laps() that takes a number of miles as an argument and returns the number of laps. Complete the program to output the number of laps.

Output each floating-point value with two digits after the decimal point, which can be achieved as follows:
print('{:.2f}'.format(your_value))

    Ex: If the input is:1.5
    the output is:6.00
    Ex: If the input is:2.2
    the output is:8.80
    Your program must define and call the following function:
            def miles_to_laps(user_miles)

In [ ]:
# define your function here:
def function_name():
  #write code here

In [ ]:
if __name__ ==' __main__':
    #call your function here!!

33.49333333333333

## Question #2
Points : 5


Write a function that checks whether a number is in a given range (inclusive of high and low)

In [ ]:
def ran_check(num,low,high):
    #Write code here!

In [ ]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

Write a function that checks whether a number is in a given range return a boolean:

In [ ]:
def ran_bool(num,low,high):
    #Write code here!

In [ ]:
ran_bool(3,1,10)

True

## Question #3
Points : 5

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

    Sample String : 'Hello Students, how are you this fine Tuesday?'
    Expected Output :
    No. of Upper case characters : 3
    No. of Lower case Characters : 34

Note: You can use tring methods **.isupper()** and **.islower()**

In [26]:
def upper_lower(s):
    #Write code here!
    def upper_lower(s):
    upper_count = 0
    lower_count = 0

    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    print("No. of Upper case characters:", upper_count)
    print("No. of Lower case characters:", lower_count)

IndentationError: ignored

In [25]:
s = 'Hello Students, how are you this fine Tuesday?'
upper_lower(s)

NameError: ignored

## Question #4
Points : 5

Write a function to check if the given year is a leap year. A leap year is when a year has 366 days: An extra day, February 29th. The requirements for a given year to be a leap year are:

    1) The year must be divisible by 4

    2) If the year is a century year (1700, 1800, etc.),
       the year must be evenly divisible by 400

Some example leap years are 1600, 1712, and 2016.

Funtion should takes in a year and determines whether that year is a leap year.

    Ex: If the input is: 1712
        the output is: 1712 is a leap year.

In [22]:
#Define your function here


def leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return f"{year} is a leap year."
    else:
        return f"{year} is not a leap year."

# Test the function
input_year = 1712
result = leap_year(input_year)
print(result)

1712 is a leap year.

## Question #5
Points : 2.5

**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [20]:
def multiply(numbers):
   #Write code here
   result = 1  # Initialize the result as 1

    for num in numbers:
        result *= num  # Multiply each number with the result

    return result

IndentationError: ignored

In [19]:

numbers = [1, 2, 3, -4]
result = multiply(numbers)
print("The product of the numbers in the list:", result)

NameError: ignored

## Question #6
Points : 2.5

**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward.

    e.g., madam,kayak,racecar

    input : madam
    output: Given 'madam' is a palidrome.

In [12]:
def palindrome(s):
     #Write code here!
     s = s.replace(" ", "").lower()

    # Check if the input is equal to its reverse
    if s == s[::-1]:
        return True
    else:
        return False

# Test the function
input_str = 'helleh'
if is_palindrome(input_str):
    print(f"Given '{input_str}' is a palindrome.")
else:
    print(f"Given '{input_str}' is not a palindrome.")

IndentationError: ignored

In [ ]:
palindrome('helleh')

True

## Question #7
Points : 2.5


**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

In [14]:
import string

def ispangram():
    #Write code here!
    alphabet = set(string.ascii_lowercase)

    # Convert the input string to lowercase and remove spaces
    s = s.lower().replace(" ", "")

    # Create a set of unique letters in the string
    unique_letters = set(s)

    # Check if the unique letters set contains all the alphabet letters
    return unique_letters == alphabet

In [15]:
input_str = "The quick brown fox jumps over the lazy dog"
if is_pangram(input_str):
    print(f"'{input_str}' is a pangram.")
else:
    print(f"'{input_str}' is not a pangram.")

NameError: ignored

## Question #8
Points : 5

Toll gates have different fees based on the time of day, weekdays/weekends. Write a function that has three parameters: the current hour of time (int), time is morning (boolean) and whether the day is a weekend(boolean). The function returns the correct toll fee (float), based on the chart below.

    Weekday Tolls

    Before 7:00 am ($1.15)
    7:00 am to 9:59 am ($2.95)
    10:00 am to 2:59 pm ($1.90)
    3:00 pm to 7:59 pm ($3.95)
    Starting 8:00 pm ($1.40)
    
    Weekend Tolls

    Before 7:00 am ($1.05)
    7:00 am to 7:59 pm ($2.15)
    Starting 8:00 pm ($1.10)

    input : toll_fee(8, True, False)
    Output : $ 2.95

In [9]:
#define your code here

def toll_fee(hour, morning,weekend):
  #write code here
     if weekend:  # Weekend
        if hour < 7:
            return 1.05
        elif 7 <= hour < 20:
            return 2.15
        else:
            return 1.10
    else:  # Weekday
        if morning:
            if hour < 7:
                return 1.15
            elif 7 <= hour < 10:
                return 2.95
            elif 10 <= hour < 15:
                return 1.90
            elif 15 <= hour < 20:
                return 3.95
            else:
                return 1.40
        else:
            if hour < 7:
                return 1.15
            elif 7 <= hour < 20:
                return 2.15
            else:
                return 1.40
fee = toll_fee(8, True, False)
print("The fee of the hour: $", format(fee, ".2f"))

IndentationError: ignored

In [7]:
#call your function

fee = toll_fee(8, True, False)
print("The fee of the hour: $", format(fee, ".2f"))

NameError: ignored

*If you extend the program to add roud trip fee extra credit point 5 will be awarded.*

## Question #9
Points : 2.5

### Branching  staements
if - elif -  else

Given three values a, b, c, check which value is minimum and remove that value from other values. Write an algorithm.

        Ex: If the input is:
        a = 130
        b = 50
        c = 130
        The output is:
        a = 80
        b = 0
        c = 80

In [5]:
a = int(input("Enter the value for a: "))
b = int(input("Enter the value for b: "))
c = int(input("Enter the value for c: "))
min_value = min(a, b, c)
a -= min_value
b -= min_value
c -= min_value
min_value = 0
print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")

Enter the value for a: 5
Enter the value for b: 6
Enter the value for c: 4
a = 1
b = 2
c = 0

## Question #10
Points : 5

26 - Write a program that takes in a year and determines whether that year is a leap year.

      Ex: If the input is:  1712
          the output is: 1712 - leap year

          Note : 1) The year must be divisible by 4
                  2) If the year is a century year (1700, 1800, etc.), the year must be evenly divisible by 400

In [4]:

year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} - leap year")
else:
    print(f"{year} - not a leap year")

Enter a year: 1997
1997 - not a leap year

## Question #11
Points : 5

### Loops

27 - Write a program that takes a simple password and makes it stronger by replacing certain characters as per list below and appending "!" to the end of the input string.

        i becomes 1
        a becomes @
        m becomes M
        B becomes 8
        s becomes $
        z becomes 2
        o becomes 0
        
        If the input is: mypassword
        the output is: Myp@$$w0rd!

In [2]:
def strengthen_password(password):
    replacements = {
        'i': '1',
        'a': '@',
        'm': 'M',
        'B': '8',
        's': '$',
        'z': '2',
        'o': '0'
    }
    for char, replacement in replacements.items():
        password = password.replace(char, replacement)
    password += '!'

    return password
input_password = input("Enter a simple password: ")
strong_password = strengthen_password(input_password)
print(strong_password)

Enter a simple password: 0987654
0987654!

## Question #12
Points : 2.5

28 - Write a program to get 10 multiples of anynumber given.

    Example: if Number = 5
    Output :5,10,15,20,25,30,35,40,45,50

In [1]:

number = int(input("Enter a number: "))
count = 1
while count <= 10:
    multiple = number * count
    print(multiple, end=", ")
    count += 1

Enter a number: 6
6, 12, 18, 24, 30, 36, 42, 48, 54, 60,